

<br>
<br>
<br><br>
<br>
<div class="about-section">
    <h1>מי אנחנו??</h1>
    <b >
        קייטרינג, ההבדל ההחשוב: כולנו יודעים להבדיל בין אלו שמבשלים כדי לאכול ובין אלו שמבשלים כדי ליהנות ולענג. כשזה מגיע לאירוע שלך, תבחר תמיד קייטרינג שיודע להפוך את האוכל למיוחד באמת!

        בקייטרינג משהו מיוחד נשמח להתאים עבורך קונספט שיחבר את הפרטים הגדולים והקטנים, כי כשזה מגיע לאירוע שלך, אנו נעשה הכל כדי לייצר עבורך אירוע מיוחד באמת, הרי אנו, קייטרינג משהו מיוחד!
        
        לקייטרינג ניסיון עשיר והתמחות באירועים ע”י צוות מיומן ושירות מכל הלב כדי שתיהנו מכל רגע. אנו בקייטרינג משהו מיוחד נהיה שם לדאוג שהחלומות שלך יהפכו לחוויה מיוחדת באמת!
    </b> 
    <br> <br>
  </div>
  
  <h2 style="text-align:center">השפים שלנו </h2>
  <div class="row" style="text-align:center; margin-left: 4%;margin-right: 4%;">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/שף-פרטי.png" alt="Jane" style="width:50%">
        <div class="container">
          <h2>חואן מרנדו</h2>
          <p class="title">שף ראשי</p>
          <p>שף בכיר, למד באוניברסיטה הקולינרית, זכה בתחרות מאסטר שף בארץ</p>
          <p>chuan@catering.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card">
        <img src="../../../../assets/chef.png" alt="Mike" style="width:50%">
        <div class="container">
          <h2>מיקי רוש</h2>
          <p class="title">סו שף</p>
          <p>שף מתחיל עם חוש מולד לאוכל</p>
          <p>mike@catering.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <img src="../../../../assets/שף3.jpg" alt="John" style="width:50%">
        <div class="container">
          <h2>ג'ו דבוש</h2>
          <p class="title">שף סלטים</p>
          <p>מומחה מספר 1 בארץ ובעולם לסלטים</p>
          <p>john@catering.com</p>
          <!-- <p><button class="button/">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>