.container1 {
    position: relative;
    text-align: center;

  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    /* background-color:black ; */
    /* color: white; */
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
 .user-enter {
    font-size: 17px;
    font-weight: 600;
}

.userName {
    position: absolute;
    left: 3%;
}

.userName mat-icon {
    position: relative;
    top: 6px;
}
.login {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 6%;
    background-color:black ;
   color: white;
}

.mat-toolbar.mat-primary{
  background-color: black;
}



.logoDiv {
  border-bottom: solid;
  border-color: #FFD700;
  border-width: 4px;
  margin-top: 1%;
  margin-bottom: 6%;
  width: 100%;
  height: 17%;
}

.logoImgDiv {
  margin-top: 2%;
  width: fit-content;
  margin-right: 75%;
  margin-bottom: 12%;
}
img{
    width: 200px;
}

.titleImgDiv {
  width: fit-content;
  margin-right: 39%;
  
}