<div class="login">
    <mat-toolbar  class="login" >
      <mat-toolbar-row>
          <div *ngIf="DB.user.Mail" class="userName">
              <!-- <mat-icon>account_circle </mat-icon>
              שלום שם משתמש  -->
              <div class="chip">
                <img src="../../../../assets/image/Menue/userFeadback.png" alt="Person" width="96" height="96">
              שלום {{DB.user.FirstName}}
              </div>
          </div>
          <!-- <button mat-button class="user-enter" *ngIf='!userService.singIn' (click)="openBottomSheetSignin()">הרשם</button> -->
          <!-- <button  mat-button class="user-enter"  (click)="openBottomSheetLogin()">כניסה</button> -->
          <!-- <button *ngIf='userService.singIn' mat-button class="user-enter" (click)="getOut()"> -->
              <!-- <mat-icon>exit_to_app</mat-icon>
              יציאה -->
          <!-- </button> -->
          <button mat-button class="user-enter" routerLink="/home" >בית</button> 
          <button mat-button class="user-enter" routerLink="/AboutUs">קצת עלינו</button>
          <button *ngIf="!DB.user.Mail" mat-button class="user-enter" (click)="openDialog2()">הרשם</button>
          <button *ngIf="!DB.user.Mail" mat-button class="user-enter" (click)="openDialog()">התחבר</button>
          <button *ngIf="DB.user.Mail&&!DB.isManager" mat-button class="user-enter" routerLink="/MenuC/MakeAnOrder">הזמנה חדשה</button>
          <button *ngIf="DB.user.Mail&&!DB.isManager" mat-button class="user-enter" routerLink="/myOrders">ההזמנות שלי</button>
          <button *ngIf="DB.isManager" mat-button class="user-enter" routerLink="/manage">ניהול הקייטרינג</button>
  
      </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div class="logoDiv">
    <!-- <div class="titleImgDiv">
        <img [src]="'../../assets/images/logo/title.PNG'" />
    </div> -->
    <div class="logoImgDiv">
        <img  src="../../../../assets/image/לוגו מעודכן.jpg" />
    </div>
  </div>
 <!-- <app-menuu-list-to-costomer></app-menuu-list-to-costomer> -->
