<!-- <div style="text-align: center;">
<form  style="display: inline-grid;">
    <span class="title">התחברות משתמש קיים</span>
    <mat-form-field appearance="outline">
        <mat-label>הזן שם משתמש </mat-label>
        <input matInput >
        <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>הזן סיסמא</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">התחבר</button>
</form>
</div> -->
<h1 mat-dialog-title style="text-align: center;">התחברות</h1>
<div mat-dialog-content dir="rtl">
    <!-- <form  style="display: inline-grid;"> -->
    <mat-form-field appearance="outline">
        <mat-label>הזן כתובת מייל</mat-label>
        <input name="0" [(ngModel)]="mail" matInput type="email" #mail1="ngModel" required pattern="[^@]*@[^@]*">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
     <div class="form-group">
    <div class="alert-dangerr" *ngIf="mail1.invalid && (mail1.dirty || mail1.touched)">
      <div class="alert-dangerr" *ngIf="mail1.errors.required"> שדה חובה!</div>
      <div class="alert-dangerr" *ngIf="mail1.errors.pattern">כתובת מייל אינה תקינה !</div>
    </div>
  </div>
    
    <!-- <mat-form-field appearance="outline">
        <mat-label>הזן טלפון</mat-label>
        <input name="0" [(ngModel)]="phone" matInput type="text"  #phon1="ngModel" required
        pattern="[0-9 ]*" minlength="9" maxlength="10" >
        <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field> -->
    <!-- <div class="form-group">
        <div class="alert-dangerr" *ngIf="phon1.invalid && (phon1.dirty || phon1.touched)">
          <div class="alert-dangerr" *ngIf="phon1.errors.required"> שדה חובה!</div>
          <div class="alert-dangerr" *ngIf="phon1.errors.pattern">ערכים לא תקינים</div>
          <div class="alert-dangerr" *ngIf="phon1.errors.minlength">  חסר ספרות  </div>
        </div>
      </div> -->
    <!-- <br>
    <div style="text-align:right">
        <mat-checkbox color="primary" [(ngModel)]="checked">אני מנהל</mat-checkbox>
    </div> -->

    <mat-form-field  appearance="outline">
        <mat-label>הזן סיסמא</mat-label>
        <input name="0" [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'"  #password1="ngModel" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div class="form-group">
        <div class="alert-dangerr" *ngIf="password1.invalid && (mail1.dirty || mail1.touched)">
          <div class="alert-dangerr" *ngIf="password1.errors.required"> שדה חובה!</div>
          <div class="alert-dangerr" *ngIf="password1.errors.pattern">כתובת מייל אינה תקינה !</div>
        </div>
    <!-- </form> -->
</div>
<div style="text-align: center;">
    <button mat-button mat-dialog-close>ביטול</button>
    <button (click)="login();" mat-button [mat-dialog-close]="true" cdkFocusInitial>התחבר</button>

</div>