
<div  style="margin: 5%; direction: rtl;">
<h1>ההזמנות שלי</h1>
  <table style="width: 100%;" mat-table [dataSource]="myOrders" class="mat-elevation-z8">
    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef> תאריך ההזמנה </th>
      <td mat-cell *matCellDef="let element"> {{element.OrderDate|date}} </td>
    </ng-container>
    <ng-container matColumnDef="MealsAmount">
      <th mat-header-cell *matHeaderCellDef> מספר מנות </th>
      <td mat-cell *matCellDef="let element"> {{element.MealsAmount}} </td>
    </ng-container>
    <ng-container matColumnDef="MenuID">
      <th mat-header-cell *matHeaderCellDef> סוג תפריט </th>
      <td mat-cell *matCellDef="let element"> {{menuList[element.MenuID].MenuName}} </td>
    </ng-container>
    <ng-container matColumnDef="ClosedPrice">
      <th mat-header-cell *matHeaderCellDef> סכום סופי </th>
      <td mat-cell *matCellDef="let element"> {{element.ClosedPrice}} שח</td>
    </ng-container>
    <ng-container matColumnDef="EventTypeID">
      <th mat-header-cell *matHeaderCellDef> סוג ארוע </th>
      <td mat-cell *matCellDef="let element"> {{eventTypeList[element.EventTypeID].EventName}} </td>
    </ng-container>
    <ng-container matColumnDef="OkByManager">
      <th mat-header-cell *matHeaderCellDef> אושר עי המנהל? </th>
      <td mat-cell *matCellDef="let element"> {{element.OkByManager?'כן':'לא'}} </td>
    </ng-container>
    <ng-container matColumnDef="PaiedBefore">
      <th mat-header-cell *matHeaderCellDef> שולם מקדמה? </th>
      <td mat-cell *matCellDef="let element"> 
        <i *ngIf="element.PaiedBefore" class="fa fa-check"></i>
        <i *ngIf="!element.PaiedBefore" class="fa fa-times"></i>
   
      </td>
    </ng-container>
    <ng-container matColumnDef="PaidBalance">
      <th mat-header-cell *matHeaderCellDef> יתרה שולמה? </th>
      <td mat-cell *matCellDef="let element"> 
        <i *ngIf="element.PaidBalance" class="fa fa-check"></i>
        <i *ngIf="!element.PaidBalance" class="fa fa-times"></i>
   </td>
    </ng-container>
    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element" > <button (click)="openDialog(element.OrderID)">הצג</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="list"></tr>
    <tr  mat-row *matRowDef="let row; columns: list;" ></tr>
  </table>
</div>



















































































