<!-- <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->

<div style="text-align: center;margin: 5%;" dir="rtl">
    <mat-horizontal-stepper>
        <mat-step label="פרטים אישיים">
            <mat-form-field appearance="outline">
                <mat-label>שם פרטי</mat-label>
                <input name="0" [(ngModel)]="newOrder.FirstName" matInput type="text">
                <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>שם משפחה</mat-label>
                <input name="0" [(ngModel)]="newOrder.LastName" matInput type="text">
                <mat-icon matSuffix>supervisor_account</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>פלאפון</mat-label>
                <input name="0" [(ngModel)]="newOrder.Phone" matInput type="text">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>כתובת מייל</mat-label>
                <input name="0" [(ngModel)]="newOrder.CustomerEmail" matInput type="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <br>
            <div>
                <!-- <button mat-button matStepperPrevious>הקודם</button> -->
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="פרטי האירוע">
            <mat-form-field appearance="outline">
                <mat-label>סוג האירוע</mat-label>
                <mat-select [(ngModel)]="newOrder.EventTypeID">
                    <mat-option>בחר</mat-option>
                    <mat-option *ngFor="let eventType of eventTypeList" [value]="eventType.EventID">
                        {{eventType.EventName}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>local_bar</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>כתובת</mat-label>
                <input name="0" [(ngModel)]="newOrder.EventAddress" matInput type="text">
                <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>תאריך</mat-label>
                <input name="0" [(ngModel)]="newOrder.EventDate" matInput type="date">
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>מספר מנות</mat-label>
                <input name="0" [(ngModel)]="newOrder.MealsAmount" (change)="updatePrice();" matInput type="number">
                <mat-icon matSuffix>local_dining</mat-icon>
            </mat-form-field>
            <br>
            <div>
                <button mat-button matStepperPrevious>הקודם</button>
               &nbsp;
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="בחר תפריט">
            <h2>{{newOrder.MenuID!=undefined?menuList[newOrder.MenuID].MenuName:''}}</h2>
            <div *ngFor="let meal of mealInMenuList">
                <div *ngIf="meal.MenuID==newOrder.MenuID">
                    <h3><ins>{{mealList[meal.MealID].MealName}}</ins>- {{meal.maxChoose}} אפשרויות בחירה</h3>
                    <div *ngFor="let food of foodInMealMenuList">
                        <mat-checkbox *ngIf="food.MealMenuId==meal.MealMenuId" [checked]="isChecked(food.FoodID,meal.MealID)" (change)="addFoodToOrder(food,meal)" color="primary"> &nbsp;{{foodList[food.FoodID].FoodName}}&nbsp;</mat-checkbox>

                    </div>
                    <!-- <mat-radio-group>
                        <label *ngFor="let food of foodInMealMenuList">
                            <mat-radio-button (click)="addFoodToOrder(food,meal)"
                                *ngIf="food.MealMenuId==meal.MealMenuId" [value]="food.FoodInMealMenuID">
                                &nbsp;{{foodList[food.FoodID].FoodName}}&nbsp;</mat-radio-button>
                        </label>
                    </mat-radio-group> -->
                </div>
            </div>
            <div class="row">
                <div class="col-3" *ngFor="let menu of menuList">
                    <div class="card" (click)="newOrder.MenuID=menu.MenuID;resetOrderDetails();updatePrice();">
                        <img src="{{menu.img}}" alt="John" style="width:100%; height: 200px;">
                        <p class="title">{{menu.MenuName}}</p>
                        <p>{{menu.title}}</p>
                        <p>מינימום מנות להזמנה- {{menu.MinMealNum}}</p>
                        <p>מחיר למנה- {{menu.MealPrice}} ש"ח</p>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">
                                <div class="d-flex justify-content-center bd-highlight mb-3">
                                    <div *ngFor='let in of counter(3)'>
                                        <div class="p-2 bd-highlight">
                                            <i class="	fa fa-star" style="color: #FFD700;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 flex-shrink-1 bd-highlight">
                                <mat-icon matBadgeColor="accent" matBadge="{{menu.favoraits}}" style="color: red;"
                                    matBadgeColor="warn">
                                    favorite_border</mat-icon>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <button mat-button matStepperPrevious>הקודם</button>
               &nbsp;
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="בחר תוספות">
            <div *ngFor="let addition of additionsList">
                <mat-checkbox (click)="addAdditionToOrder(addition)" color="primary">{{addition.AdditionName}}
                </mat-checkbox>
                <p>{{addition.PriceTo50Meals}} שח ל-50 מנות</p>
                <br>
            </div>
            <div>
                <button mat-button matStepperPrevious>הקודם</button>
               &nbsp;
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="סיים הזמנה">

            <h1>סיכום ההזמנה:</h1>
            <hr>
            <b>שם:</b> {{newOrder.FirstName}} {{newOrder.LastName}}
            <b>, טלפון:</b> {{newOrder.Phone}} 
            <b>, מייל:</b> {{newOrder.CustomerEmail}}
            <hr>
            <b>סוג ארוע:</b> {{newOrder.EventTypeID!=undefined?eventTypeList[newOrder.EventTypeID].EventName:''}}
            <b>, כתובת:</b> {{newOrder.EventAddress}} 
            <b>, תאריך:</b> {{newOrder.EventDate}}
            <b>, מספר מנות:</b> {{newOrder.MealsAmount}}
            <hr>
            <b>{{newOrder.MenuID!=undefined?menuList[newOrder.MenuID].MenuName:''}}</b> 
            <br>
            <!-- <span *ngFor="let orderDetails of newOrder.OrderDetails">
                <b>{{orderDetails.FoodInMealMenu?orderDetails.FoodInMealMenu.MealInMenu.MealID:''}}</b> {{newOrder.FirstName}}
            </span> -->
            <hr>
            <b>סכום לתשלום:</b> {{newOrder.ClosedPrice}} שח
            <div>
                <br>
                <button mat-button matStepperPrevious>הקודם</button>
               &nbsp;
               <button *ngIf="!DB.isManager" mat-button routerLink="/myOrders" (click)="addOrder()">שלח</button>
               <button *ngIf="DB.isManager" mat-button (click)="addOrder()">שלח</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<!-- <div>
                <form>
                    <mat-form-field appearance="fill">
                        <mat-label>סוג הארוע </mat-label>
                        <mat-select>
                            <mat-option value="volvo">חתונה</mat-option>
                            <mat-option value="saab">בר מיצוה</mat-option>
                            <mat-option value="mercedes">ברית </mat-option>
                            <mat-option value="audi">אירוסין</mat-option>
                            <mat-option value="audi">אחר</mat-option>
                        </mat-select>
                    </mat-form-field>
                   
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>תאריך הארוע </mat-label>
                        <input type="date" matInput name="menuName" placeholder="תאריך הארוע">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> שעת הארוע הארוע</mat-label>
                        <input type="time" matInput name="mealPrice" placeholder="שעת הארוע הארוע">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> כתתובת האולם</mat-label>
                        <input matInput name="minMealNum" placeholder="כתובת האולם">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label> מספר מוזמנים</mat-label>
                        <input type="number" matInput name="minMealNum" placeholder="כתובת האולם">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>הערות</mat-label>
                        <textarea matInput placeholder="יש לך עוד משהוא לומר לנו ??"></textarea>
                    </mat-form-field>
                    <br>
                </form>
                <button mat-button matStepperPrevious>חזרה</button>
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="התפריט שלך ">
           <app-dishes-to-order> </app-dishes-to-order>
            <div style="float: left;">
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="תוספות  ">
            <div class="card" dir="rtl">
                <div class="d-flex justify-content-start bd-highlight mb-3">
                <div class="p-2 bd-highlight"> 
                    <div class="nameDishes" >
                        <div style="margin: auto;">
                            <br> <br> <br> 
                        <i class="fa fa-trophy" style="font-size: 40px; color:#FFD700 ;"></i>
                        <div style=" color: white;">
                        <p class="title"> תוספות  </p>
                        </div>
                    </div>
                    </div>
                 
                </div>
                <div class="p-2 bd-highlight">
                    <div class="container" >
                        <div class="card preferCard" style="width: 300px;">
                            <div class="headCard">
                                <h2 class="card-title">בחירת תוספות </h2>
                            </div>
                            <div class="card-body" >
                                <div *ngFor="let e of  extras">
                                    <input type="checkbox" name="typePort">
                                    {{e}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
  
            <div style="float: left;">
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="תשלום ">

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-11 col-xl-10">
                        <div class="card card0">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 p-0 box">
                                    <div class="card rounded-0 border-0 card2">
                                        <h2 class="text-center">סכ"ה לתשלום</h2>
                                        <div class="form-card">
                                            <h4 class="text-center">תשלום באמצעות כרטיס אשראי</h4>
                                            <div class="radio-group">
                                                <div class='radio selected' data-value="credit"><img
                                                        src="https://i.imgur.com/28akQFX.jpg" width="200px"
                                                        height="60px"></div>
                                                <div class='radio' data-value="paypal"><img
                                                        src="https://i.imgur.com/5QFsx7K.jpg" width="200px"
                                                        height="60px"></div> <br>
                                            </div>

                                            <div class="row">
                                                <div class="col-12"> <input type="text" name="cardno" id="cr_no"
                                                        placeholder="0000 0000 0000 0000" minlength="19" maxlength="19">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-9 col-md-7"> <input type="text" name="exp" id="exp"
                                                        placeholder="MM/YY" minlength="5" maxlength="5"> </div>
                                                <div class="col-3 col-md-5"> <input type="password" name="cvcpwd"
                                                        placeholder="&#9679;&#9679;&#9679;" class="placeicon"
                                                        minlength="3" maxlength="3"> </div>
                                            </div>
                                            <div class="col-md-8"> <input type="submit" value="אישור"
                                                    class="btn btn-success"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: left;">
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="סיום ">
            <h2>שם התפריט</h2>


            <div>
                <button mat-button matStepperPrevious>הקודם</button>
                <button mat-button matStepperNext>סיום</button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</div> -->