<mat-tab-group mat-align-tabs="center" style="margin:5%;">
  
    <mat-tab label="ניהול הזמנות">
        <ng-template mat-tab-label>
            תפריטים
        </ng-template>
        <app-menus-table></app-menus-table>
        <app-menu></app-menu>
    </mat-tab>
    <mat-tab label=" הזמנות מיוחדות לטיפול ">
        <ng-template mat-tab-label>
            מאכלים ומתכונים
        </ng-template>
        <app-recipes-table></app-recipes-table>
    </mat-tab>
    <mat-tab label="הפרופיל שלי ">
        <ng-template mat-tab-label >
            רשימת קניות
        </ng-template>
        <app-shopping-list></app-shopping-list>
    </mat-tab>
    <!-- <mat-tab label="הפרופיל שלי ">
        <ng-template mat-tab-label >
            רשימת מאכלים להכנה
        </ng-template>
        <app-foods-to-prepare-list></app-foods-to-prepare-list>
    </mat-tab> -->
    <mat-tab label=" הזמנות מיוחדות לטיפול ">
        <ng-template mat-tab-label>
            הזמנות
        </ng-template>
        <app-order-list></app-order-list>
    </mat-tab> 
    <mat-tab label=" הזמנות מיוחדות לטיפול " >
        <ng-template mat-tab-label>
          לו"ז ומשימות
        </ng-template>
        <app-tasks></app-tasks>
    </mat-tab> 

</mat-tab-group>