<div class="d-flex bd-highlight">
    <div class="p-2 flex-shrink-1 bd-highlight">
        <app-menus-table></app-menus-table>
    </div>
    <div class="p-2 w-100 bd-highlight">
        <div id="recipyConvert">

            <div class="card" style="margin-top: 10% ;">
                <div class="d-flex justify-content-center " style="text-align: center;">
                    <div class="p-2 bd-highlight">
                        <strong> מחיר מנה</strong> <br>
                        <p>50 ש"ח </p>
                    </div>
                    <hr>
                    <div class="p-2 bd-highlight">
                        <strong> כמות מימלית</strong> <br>
                        <p>40 מנות</p>
                    </div>
                    <hr>
                </div>
                <hr>
                <img class="center" src="../../../../assets/image/Menue/kiton.jpg" alt="John" style="width:20%">
                <p class="title">שם תפריט</p>
                <b> פרוט תפריט </b>
                <hr>
                <b>מנה ראשונה</b>
                <div class="container" style="width: 50%;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="chip">
                                        <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                                            height="120">
                                    </div>
                                </td>
                                <td>מנה</td>
                                <td>מוצר</td>
                                <td>חח</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="chip">
                                        <img src="../../../../assets/image/Menue/בשר.jpg" alt="Person" width="96"
                                            height="96">
                                    </div>
                                </td>
                                <td>מנה</td>
                                <td>מוצר</td>
                                <td>חח</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="chip">
                                        <img src="../../../../assets/image/Menue/פרגית.jpg" alt="Person" width="96"
                                            height="96">
                                    </div>
                                </td>
                                <td>מנה</td>
                                <td>מוצר</td>
                                <td>חח</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <b>מנה שניה</b>
                <div class="container" style="width: 50%;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="chip">
                                        <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                                            height="120">
                                    </div>
                                </td>
                                <td>מנה</td>
                                <td>מוצר</td>
                                <td>חח</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="chip">
                                        <img src="../../../../assets/image/Menue/בשר.jpg" alt="Person" width="96"
                                            height="96">
                                    </div>
                                </td>
                                <td>מנה</td>
                                <td>מוצר</td>
                                <td>חח</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="chip">
                                        <img src="../../../../assets/image/Menue/פרגית.jpg" alt="Person" width="96"
                                            height="96">
                                    </div>
                                </td>
                                <td>מנה</td>
                                <td>מוצר</td>
                                <td>חח</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex bd-highlight">
                    <div class="p-2 w-100 bd-highlight">
                        <button type="button" class="btn btn-light" (click)="like=!like">
                            <i *ngIf="!like" class="fa fa-heart"></i>
                            <i *ngIf="like" class="fa fa-heart" style="color: red;"></i></button>
                    </div>
                    <div class="p-2 w-100 bd-highlight">
                        <div class="d-flex justify-content-center bd-highlight mb-3">
                            <div *ngFor='let in of counter(3)'>
                                <div class="p-2 bd-highlight">
                                    <i class="	fa fa-star" style="color: #FFD700;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-shrink-1 bd-highlight">
                        <mat-icon matBadgeColor="accent" matBadge="2" style="color: red;" matBadgeColor="warn">
                            favorite_border</mat-icon>
                    </div>
                    <div class="p-2 flex-shrink-1 bd-highlight">
                        <button type="button"  class="btn btn-light">הדפס <i class="fa fa-print"></i></button>
                    </div>
                </div>
                <hr>

                <button routerLink="MakeAnOrder" style="color: black; font-size: 20px;" mat-raised-button
                    color="primary"><i class="	fa fa-mail-reply-all"></i> הזמן</button>

            </div>
        </div>
    </div>
</div>