.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 95%;
    text-align: center;
    margin: auto;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  
  button:hover, a:hover {
    opacity: 0.7;
  }
  strong{
      color: sienna;
  }
img{
    margin: auto;
}
.chip img {
    margin: 0 10px 0 -25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }