<div class="card" dir="rtl">
    <h1>שם התפריט</h1>
    <h4>תאור קצר </h4>
    23.2.2021 תאריך הזמנה
    <button type="button" class="btn btn-light">
        <i class="fa fa-edit"></i> עריכה</button>
</div>
<br> 
<div class="card" dir="rtl">

    <div class="d-flex justify-content-start bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div style="margin: auto;">
                    <br> <br> <br>
                    <i class="	fa fa-cutlery" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">מנה ראשונה </p>
                        <p>תאור קצר</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="chip">
                                    <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                                        height="120">
                                </div>
                            </td>
                            <td>מנה</td>
                            <td>מוצר</td>
                            <td>חח</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="chip">
                                    <img src="../../../../assets/image/Menue/בשר.jpg" alt="Person" width="96"
                                        height="96">
                                </div>
                            </td>
                            <td>מנה</td>
                            <td>מוצר</td>
                            <td>חח</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="chip">
                                    <img src="../../../../assets/image/Menue/פרגית.jpg" alt="Person" width="96"
                                        height="96">
                                </div>
                            </td>
                            <td>מנה</td>
                            <td>מוצר</td>
                            <td>חח</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<br> <br>
<div class="card" dir="rtl">
    <div class="d-flex justify-content-start bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div>
                    <br> <br> <br>
                    <i class="	fa fa-cutlery" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">מנה שניה </p>
                        <p>תאור קצר</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="chip">
                                    <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                                        height="120">
                                </div>
                            </td>
                            <td>מנה</td>
                            <td>מוצר</td>
                            <td>חח</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="chip">
                                    <img src="../../../../assets/image/Menue/בשר.jpg" alt="Person" width="96"
                                        height="96">
                                </div>
                            </td>
                            <td>מנה</td>
                            <td>מוצר</td>
                            <td>חח</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="chip">
                                    <img src="../../../../assets/image/Menue/פרגית.jpg" alt="Person" width="96"
                                        height="96">
                                </div>
                            </td>
                            <td>מנה</td>
                            <td>מוצר</td>
                            <td>חח</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>