<h1 mat-dialog-title style="direction: rtl; text-align: center;">מתכון של  {{data.name}} ל-50 מנות</h1>
<div mat-dialog-content >
    <div id="recipyConvert">
        <div class="card" style="margin-top: 10% ;">
            <div class="d-flex justify-content-center bd-highlight mb-3">

            <hr>
            <!-- <br> -->
            <!-- <img class="center" src="{{data.img}}" alt="John" style="width:50%"> -->
             <p class="title"> מוצרים:</p> 
            
          
            <div class="container" style="width: 50%;">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let product of productInFoodList">
                            <td>{{product.AmountTo50Meals}}</td>
                            <td>{{productList[product.ProductID-1].ProductName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <!-- <b>אופן ההכנה:</b>
            <p>1. לערבב את מצרכי הרוטב, לחצות את הסטייק פרגית לתבל ולהשרות כשעה.
                2. לשים במחבת 4 כפות שמן לטגן את הפרגיות עד שהן מזהיבות קצת משחימות ולהוציא לנייר סופג.</p>
            <hr> -->
    
    
    
    
        </div>
    </div>
</div>
