
<div class="d-flex flex-wrap bd-highlight">
    <div class="p-2 bd-highlight" *ngFor="let menu of menueList">
        <div class="card" [routerLink]="['/newMenu',menu.MenuID]">
            <img src="{{menu.img}}" alt="John" style="width:100%; height: 200px;">
            <p class="title">{{menu.MenuName}}</p>
            <p>{{menu.title}}</p>
            <p>מינימום מנות להזמנה- {{menu.MinMealNum}}</p>
            <p>מחיר למנה- {{menu.MealPrice}} ש"ח</p>
            <div class="d-flex bd-highlight">
                <div class="p-2 w-100 bd-highlight">
                    <div class="d-flex justify-content-center bd-highlight mb-3">
                        <div *ngFor='let in of counter(3)'>
                            <div class="p-2 bd-highlight">
                                <i class="	fa fa-star" style="color: #FFD700;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-shrink-1 bd-highlight">
                    <mat-icon matBadgeColor="accent" matBadge="{{menu.favoraits}}" style="color: red;"
                        matBadgeColor="warn">
                        favorite_border</mat-icon>

                </div>
            </div>
        </div>
      
    </div>
   
            <button style="margin-left: 30%;margin-right: 30%;"  [routerLink]="['/newMenu',-1]" mat-button > הוסף תפריט</button>

</div>

