<h1 mat-dialog-title style="text-align: center;">הרשמה</h1>
<div mat-dialog-content>
    <!-- <form  style="display: inline-grid;"> -->
    <mat-form-field appearance="outline">
        <mat-label>שם פרטי</mat-label>
        <input name="0" [(ngModel)]="newUser.FirstName" matInput type="email"  name="firstName" #firstName="ngModel" required pattern="[A-Za-zא-ת ]*">
        <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>
    <div class="form-group">
      <div class="alert-dangerr" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div class="alert-dangerr" *ngIf="firstName.errors.required"> שדה חובה!</div>
        <div class="alert-dangerr" *ngIf="firstName.errors.pattern">ערכים לא תקינים!</div>
      </div>
    </div>
   
    <mat-form-field appearance="outline">
        <mat-label>שם משפחה</mat-label>
        <input name="0" [(ngModel)]="newUser.LastName" matInput type="text"  name="LastName" #LastName="ngModel" required pattern="[A-Za-zא-ת ]*">
        <mat-icon matSuffix>supervisor_account</mat-icon>
    </mat-form-field>
    <div class="form-group">
      <div class="alert-dangerr" *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)">
        <div class="alert-dangerr" *ngIf="LastName.errors.required"> שדה חובה!</div>
        <div class="alert-dangerr" *ngIf="LastName.errors.pattern">ערכים לא תקינים!</div>
      </div>
    </div>
   
    <mat-form-field appearance="outline">
      <mat-label>כתובת מייל</mat-label>
      <input name="0" [(ngModel)]="newUser.Mail" matInput type="mail" name="mail" #mail="ngModel" required pattern="[^@]*@[^@]*">
      <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <div class="form-group">
    <div class="alert-dangerr" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
      <div class="alert-dangerr" *ngIf="mail.errors.required"> שדה חובה!</div>
      <div class="alert-dangerr" *ngIf="mail.errors.pattern">כתובת מייל אינה תקינה !</div>
    </div>
  </div>

  <mat-form-field appearance="outline">
      <mat-label>מספר טלפון</mat-label>
      <input name="0" [(ngModel)]="newUser.Phone" matInput type="text" #phon="ngModel" required
      pattern="[0-9 ]*" minlength="9" maxlength="10" >
      <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <div class="form-group">
    <div class="alert-dangerr" *ngIf="phon.invalid && (phon.dirty || phon.touched)">
      <div class="alert-dangerr" *ngIf="phon.errors.required"> שדה חובה!</div>
      <div class="alert-dangerr" *ngIf="phon.errors.pattern">ערכים לא תקינים</div>
      <div class="alert-dangerr" *ngIf="phon.errors.minlength">  חסר ספרות  </div>
    </div>
  </div>
  <!-- <mat-form-field  appearance="outline">
    <mat-label>הזן סיסמא</mat-label>
    <input name="0" [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'"  #password1="ngModel" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<div class="form-group">
    <div class="alert-dangerr" *ngIf="password1.invalid && (mail1.dirty || mail1.touched)">
      <div class="alert-dangerr" *ngIf="password1.errors.required"> שדה חובה!</div>
      <div class="alert-dangerr" *ngIf="password1.errors.pattern">כתובת מייל אינה תקינה !</div>
    </div> -->
    <mat-form-field  appearance="outline">
      <mat-label>הזן סיסמא</mat-label>
      <input name="0" [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'"  #password1="ngModel" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
  </mat-form-field>
  <div class="form-group">
      <div class="alert-dangerr" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
        <div class="alert-dangerr" *ngIf="password1.errors.required"> שדה חובה!</div>
        <div class="alert-dangerr" *ngIf="password1.errors.pattern">כתובת מייל אינה תקינה !</div>
      </div>
<!-- </form> -->
</div>
<div  style="text-align: center;">
  <button mat-button mat-dialog-close>ביטול</button>
  <button mat-button (click)="sighIn()" [mat-dialog-close]="true" cdkFocusInitial>הרשם</button>

</div>
<!-- <ng-container>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel> הזן שם </ng-template>
          <p>
            <mat-form-field>
              <mat-label> שם פרטי </mat-label>
              <input  type="text" matInput placeholder="* שם פרטי" required>
            </mat-form-field>
  
          </p>
          <p>
            <mat-form-field>
              <mat-label> שם משפחה </mat-label>
              <input  type="text" matInput placeholder="* שם משפחה" required>
            </mat-form-field>
          </p>
          <div>
            <button mat-flat-button color="primary" matStepperNext>הבא</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>הזן מייל</ng-template>
          <mat-form-field>
            <mat-label>מייל</mat-label>
            <input type="email"  name="Email" matInput placeholder="דואר אלקטרוני" required>
          </mat-form-field>
          <div>
            <button mat-flat-button color="primary" matStepperPrevious>חזרה</button>
            <button mat-flat-button color="primary" matStepperNext>הבא</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup ">
          <ng-template matStepLabel>הזן סיסמא </ng-template>
          <p>
            <mat-form-field>
              <mat-label>סיסמא</mat-label>
              <input type="password"  Password name="Password" matInput placeholder="* סיסמה" />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>אשר סיסמא</mat-label>
              <input type="password"  Password name="Password" matInput placeholder="* סיסמה" />
            </mat-form-field>
          </p>
          <div>
            <button mat-flat-button color="primary" matStepperPrevious>חזרה</button>
            <button mat-flat-button color="primary" matStepperNext>הבא</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="foureFormGroup">
        <form [formGroup]="foureFormGroup ">
          <ng-template matStepLabel>פרטים נוספים</ng-template>
          <p>
            <mat-form-field>
              <mat-label>מספר נפשות </mat-label>
              <input type="number"  name="NumChild" matInput placeholder="* מספר נפשות בבית">
  
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
           
              <input  hidden type="text"  name="Products" matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input hidden type="text" id="IdElergic" name="Elergic" matInput>
  
            </mat-form-field>
          </p>
          <div>
            <button mat-flat-button color="primary" matStepperPrevious>חזרה</button>
            <button mat-flat-button color="primary" matStepperNext>הבא</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>סיום</ng-template>
        <div>
          <button mat-flat-button color="primary" matStepperPrevious>חזור</button>
          <button mat-flat-button color="primary" (click)="stepper.reset()">איפוס</button>
          <button mat-flat-button color="primary" >הרשמה</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    <hr> -->
    <!-- <div>
      <p>יש לך חשבון ?</p>
      <button mat-flat-button color="primary" (click)="loginIsOpen=true">התחברות</button>
    </div> -->
    <!-- </ng-container>
  <ng-container *ngIf="loginIsOpen">
    <app-login></app-login>
  </ng-container> -->
    <!-- <div style=" text-align: center;">
    <form  style="display: inline-grid;">
      <h2 class="title">התחברות משתמש חדש</h2>
  
    
      <mat-form-field>
        <input [(ngModel)]="UserFirstName" type="text" matInput placeholder="* שם">
      </mat-form-field>
       <br/>
      <mat-form-field>
       <input [(ngModel)]="UserLastName" type="text" matInput placeholder="* שם משפחה">
      </mat-form-field>
        <br/>
      <mat-form-field>
        <input type="email" [(ngModel)]="Email" name="Email" matInput placeholder="דואר אלקטרוני">
      </mat-form-field>
        <br/>
      <mat-form-field>
        <input type="password" [(ngModel)]="Password" Password name="Password" matInput placeholder="* סיסמה"/>
      </mat-form-field>
        <br/>
      <mat-form-field>
        <input type="number" [(ngModel)]="NumChildren" name="NumChild" matInput placeholder="* מספר נפשות בבית">
      </mat-form-field>
        <br/>
      <mat-form-field>
        <input type="text" [(ngModel)]="Products" name="Products" matInput placeholder="מוצרים מועדפים">
      </mat-form-field>
        <br/>
      <mat-form-field>
          <input type="text" id="IdElergic" name="Elergic" matInput placeholder="אלרגיות / מוצרים שלא יוצגו">
      </mat-form-field>
        <br/>
      <mat-form-field>
          <input type="number" id="IdNumRecipes" name="NumRecipes" matInput placeholder="* מספר מתכונים שישמרו">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="signUp()">התחבר</button>
    </form>
    
    </div>
  
  
  
  
   -->