<h1 mat-dialog-title style="direction: rtl;">הוסף מאכל/ מתכון</h1>
<div mat-dialog-content style="text-align: center;" dir="rtl">
    <mat-horizontal-stepper>
        <mat-step label="פרטים כלליים">
            <mat-form-field appearance="outline">
                <mat-label>שם המאכל</mat-label>
                <input name="0" [(ngModel)]="newFood.FoodName" matInput type="text" name="FoodName" #FoodName="ngModel"
                    required pattern="[A-Za-zא-ת ]*">
                <mat-icon matSuffix>short_text</mat-icon>
            </mat-form-field>
            <div class="form-group">
                <div class="alert-dangerr" *ngIf="FoodName.invalid && (FoodName.dirty || FoodName.touched)">
                    <div class="alert-dangerr" *ngIf="FoodName.errors.required"> שדה חובה!</div>
                    <div class="alert-dangerr" *ngIf="FoodName.errors.pattern">ערכים לא תקינים!</div>
                </div>
            </div>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>מספר ימי הכנה מראש</mat-label>
                <input name="0" [(ngModel)]="newFood.NumDaysToMakeBefore" matInput type="number" name="NumDaysToMakeBefore" #NumDaysToMakeBefore="ngModel"
                required >
                <mat-icon matSuffix>timer</mat-icon>
            </mat-form-field>
            <div class="form-group">
                <div class="alert-dangerr" *ngIf="FoodName.invalid && (FoodName.dirty || FoodName.touched)">
                    <div class="alert-dangerr" *ngIf="FoodName.errors.required"> שדה חובה!</div>
                </div>
            </div>
            <br>
            <mat-checkbox [(ngModel)]="newFood.AbleToFreeze" color="primary">עמיד בהקפאה?</mat-checkbox>

            <br>
        </mat-step>
        <mat-step label="בחר חומרים">
            <div *ngFor="let product of productList">
                <mat-checkbox (click)="addproductToFood(product)" color="primary">{{product.ProductName}}</mat-checkbox>
                <br>
            </div>
            <button mat-button (click)="addVisible=!addVisible">הוסף מוצר</button>
            <br>
            <mat-form-field *ngIf="addVisible" appearance="outline">
                <mat-label>שם המוצר</mat-label>
                <input name="0" [(ngModel)]="newProduct.ProductName" matInput type="text">
                <mat-icon matSuffix (click)="addProduct()">add</mat-icon>
            </mat-form-field>
            
        </mat-step>
        <mat-step label="הזן כמויות ל-50 מנות">
            <div *ngFor="let product of newFood.ProductInFood">
                <mat-form-field appearance="outline">
                    <mat-label>{{product.ProductName}}</mat-label>
                    <input name="0" [(ngModel)]="product.AmountTo50Meals" matInput type="number">
                    <mat-icon matSuffix>clear_all</mat-icon>
                </mat-form-field>
                <br>
            </div>

        </mat-step>

    </mat-horizontal-stepper>

</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>ביטול</button>
    <button (click)="save()" mat-button [mat-dialog-close]="true" cdkFocusInitial>הוסף</button>

</div>