<h2>פרטי ההזמנה</h2>
<div class="card" dir="rtl">

 
    <div class="d-flex justify-content-start bd-highlight">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div style="margin: auto;">
                    <i class="	fa fa-glass" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">פרטי הארוע </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight">
                        <strong>סוג ארוע:</strong>
                        <p>{{order.EventTypes.EventName}}</p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>תאריך ארוע:</strong>
                        <p>{{order.EventDate|date}}</p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>כתובת האולם:</strong>
                        <p>{{order.EventAddress}}</p>
                    </div>  <div class="p-2 bd-highlight">
                        <strong>מס מוזמנים:</strong>
                        <p>{{order.MealsAmount}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="d-flex justify-content-start bd-highlight">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div>
                    <i class="	fa fa-user-circle-o" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">פרטי מזמין</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight">
                        <strong>שם פרטי</strong>
                        <p>{{order.FirstName}} </p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>שם משפחה</strong>
                        <p>{{order.LastName}}</p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>מייל</strong>
                        <p>{{order.CustomerEmail}}</p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>טלפון </strong>
                        <p>{{order.Phone}}</p>
                    </div>
                 
                  </div>
            </div>
        </div>
    </div>
<hr>
    <div class="d-flex justify-content-start bd-highlight">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div>
                    <i class="	fa fa-credit-card" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">תשלום</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight">
                        <strong>סכום ההזמנה</strong>
                        <p>{{order.ClosedPrice}} שח</p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>הזמנה אושרה?</strong>
                        <p>
                            <i *ngIf="order.OkByManager" class="fa fa-check"></i>
                            <i *ngIf="!order.OkByManager" class="fa fa-times"></i>
                        </p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>שולם מקדמה?</strong>
                        <p>
                            <i *ngIf="order.PaiedBefore" class="fa fa-check"></i>
                            <i *ngIf="!order.PaiedBefore" class="fa fa-times"></i>
                       </p>
                    </div>
                      <div class="p-2 bd-highlight">
                        <strong>יתרה שולמה? </strong>
                        <p>
                            <i *ngIf="order.PaidBalance" class="fa fa-check"></i>
                            <i *ngIf="!order.PaidBalance" class="fa fa-times"></i>
                       </p>
                    </div>  
                  </div>
            </div>
        </div>
    </div>
<hr>
    <div class="d-flex justify-content-start bd-highlight ">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div>
                    <i class="	fa fa-cutlery" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">תפריט</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <div class="d-flex flex-row bd-highlight ">
                    <div class="p-2 bd-highlight">
                        <strong>סוג תפריט </strong>
                        <p>{{order.Menus.MenuName}}</p>
                    </div>  
                    <div class="p-2 bd-highlight">
                        <strong>פרוט המנות</strong>
                        <ul >
                            <li *ngFor="let details of order.OrderDetails">
                                <b>{{details.FoodInMealMenu.MealInMenu.Meals.MealName}}</b> {{details.FoodInMealMenu.Foods.FoodName}}
                            </li>
                        </ul>
                        <!-- <p>{{order.Menus.MenuName}}</p> -->
                    </div>  
                    <!-- <div class="p-2 bd-highlight">
                        <strong>מנה ראשונה</strong>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="chip">
                                            <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                                                height="120">
                                        </div>
                                    </td>
                                    <td>מנה</td>
                                    <td>מוצר</td>
                                    <td>חח</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="chip">
                                            <img src="../../../../assets/image/Menue/בשר.jpg" alt="Person" width="96"
                                                height="96">
                                        </div>
                                    </td>
                                    <td>מנה</td>
                                    <td>מוצר</td>
                                    <td>חח</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="chip">
                                            <img src="../../../../assets/image/Menue/פרגית.jpg" alt="Person" width="96"
                                                height="96">
                                        </div>
                                    </td>
                                    <td>מנה</td>
                                    <td>מוצר</td>
                                    <td>חח</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong>מנה שניה</strong>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="chip">
                                            <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                                                height="120">
                                        </div>
                                    </td>
                                    <td>מנה</td>
                                    <td>מוצר</td>
                                    <td>חח</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="chip">
                                            <img src="../../../../assets/image/Menue/בשר.jpg" alt="Person" width="96"
                                                height="96">
                                        </div>
                                    </td>
                                    <td>מנה</td>
                                    <td>מוצר</td>
                                    <td>חח</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="chip">
                                            <img src="../../../../assets/image/Menue/פרגית.jpg" alt="Person" width="96"
                                                height="96">
                                        </div>
                                    </td>
                                    <td>מנה</td>
                                    <td>מוצר</td>
                                    <td>חח</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                  </div>
            </div>
        </div>
    </div>
<hr>
    <div class="d-flex justify-content-start bd-highlight">
        <div class="p-2 bd-highlight">
            <div class="nameDishes">
                <div>
                    <i class="	fa fa-snowflake-o" style="font-size: 40px; color:#FFD700 ;"></i>
                    <div style=" color: white;">
                        <p class="title">תוספות</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2 bd-highlight">
            <div class="container">
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight">
                        <ul>
                            <li *ngFor="let orderAdd of order.OrderAdditions">{{orderAdd.Additions.AdditionName}}</li>
                        </ul>
                    </div>
                    <!-- <div class="p-2 bd-highlight">
                        <strong>פרחים</strong>
                        <p><i class="		fa fa-close" style="color: red;"></i></p>
                    </div> <div class="p-2 bd-highlight">
                        <strong>שולחנות</strong>
                        <p><i class="	fa fa-check" style="color: green;"></i></p>
                    </div> -->
                  </div>
            </div>
        </div>
    </div>
</div>