<div class="d-flex bd-highlight">
    <div class="p-2 flex-shrink-1 bd-highlight">
        <app-menus-table></app-menus-table>
    </div>
    <div class="p-2 w-100 bd-highlight">
        <div id="recipyConvert">

            <div class="card" style="margin-top: 10% ;" >
               <div class="d-flex justify-content-center bd-highlight mb-3">
                   <div class="p-2 bd-highlight">
                       <strong> מחיר מנה</strong> <br>
                       <p>50 ש"ח </p>
                   </div>
                   <hr>
                   <div class="p-2 bd-highlight">
                       <strong> כמות מימלית</strong> <br>
                       <p>40 מנות</p>
                   </div>
                   <hr>
               </div>
               <hr> 
       <img class="center" src="../../../../assets/image/Menue/kiton.jpg" alt="John" style="width:50%">
       <p class="title">שם תפריט</p>
       <b> פרוט תפריט  </b>
       <div class="container" style="width: 50%;">
           <table class="table">
               <tbody>
                   <tr >
                       <td>מנה</td>
                       <td>מוצר</td>
                       <td>חח</td>
                   </tr>
                   <tr >
                       <td>מנה</td>
                       <td>מוצר</td>
                       <td>חח</td>
                   </tr>    <tr >
                       <td>מנה</td>
                       <td>מוצר</td>
                       <td>חח</td>
                   </tr>
               </tbody>
           </table>
       </div>
       
               <div class="d-flex bd-highlight">
                   <div class="p-2 w-100 bd-highlight">
                       <button type="button" class="btn btn-light" >
                           <i  class="fa fa-edit"></i> עריכה </button>
                   </div>
                   <div class="p-2 w-100 bd-highlight">
                       <button type="button" class="btn btn-light" (click)="like=!like">
                           <i *ngIf="!like" class="fa fa-heart"></i>
                           <i *ngIf="like" class="fa fa-heart" style="color: red;"></i></button>
                   </div>
                   <div class="p-2 w-100 bd-highlight">
                       <div class="d-flex justify-content-center bd-highlight mb-3">
                           <div *ngFor='let in of counter(3)'>
                               <div class="p-2 bd-highlight">
                                   <i class="	fa fa-star" style="color: #FFD700;"></i>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="p-2 flex-shrink-1 bd-highlight">
                       <mat-icon matBadgeColor="accent" matBadge="2" style="color: red;"
                       matBadgeColor="warn">favorite_border</mat-icon>
                   </div>
                   <div class="p-2 flex-shrink-1 bd-highlight">
                       <button type="button" class="btn btn-light">הדפס <i class="fa fa-print"></i></button>
                   </div>
               </div>
               <hr> 
              
           
            
           
                      
                     <!-- <app-feadback-recipy [recipyID]="recipy.RecipyCode"></app-feadback-recipy> -->
                   
               
           </div>
           </div>
    </div>
  </div>
