<!-- <div style="width: 30%;">
<app-my-recipes></app-my-recipes>
</div> -->
<br>
<div id="recipyConvert" style="text-align: center;">
    <div  id="shoppingList">
        <p class="title">רשימת קניות לשבוע הקרוב </p>
        <ul>
            <li *ngFor="let item of shoppingList|keyvalue"> {{item.value}} {{item.key}}</li>
        </ul>
        <!-- <b> קפואים: </b>
        <div class="container" style="width: 50%;">
            <table class="table">
                <tbody>
                    <tr>
                        <td>50</td>
                        <td>קילו</td>
                        <td>בשר</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>עופות</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <b> יבשים: </b>
        <div class="container" style="width: 50%;">
            <table class="table">
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>שימורי</td>
                        <td>תירס</td>

                    </tr>
                    <tr>
                        <td>20</td>
                        <td>שימורי</td>
                        <td>חומוס</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
    <!-- <button type="button" (click)="print()" class="btn btn-light">הדפס <i class="fa fa-print"></i></button> -->
    <button mat-button type="button" class="button" (click)="print()">הדפס <mat-icon matSuffix>print</mat-icon> </button>


</div>