<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="FoodPicture">
      <th mat-header-cell *matHeaderCellDef> תמונה </th>
      <td mat-cell *matCellDef="let element">
        <div class="chip">
          <!-- <img src="../../../../assets/image/Menue/אורז.jpg" alt="Person" width="120"
                height="120"> -->
          <img src="{{element.FoodPicture}}" alt="Person" width="80" height="80">
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="FoodName">
      <th mat-header-cell *matHeaderCellDef> שם המאכל </th>
      <td mat-cell *matCellDef="let element"> {{element.FoodName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="AbleToFreeze">
      <th mat-header-cell *matHeaderCellDef> נשמר בהקפאה </th>
      <td mat-cell *matCellDef="let element">
        <i *ngIf="element.AbleToFreeze" class="fa fa-check" style="color: green;"></i>
        <i *ngIf="!element.AbleToFreeze" class="fa fa-times" style="color: red;"></i>

      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="NumDaysToMakeBefore">
      <th mat-header-cell *matHeaderCellDef> ימי הכנה מראש </th>
      <td mat-cell *matCellDef="let element"> {{element.NumDaysToMakeBefore}} </td>
    </ng-container>
    <ng-container matColumnDef="btn1">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog(element)" mat-stroked-button><i class="	fa fa-menu"></i> תפריטים</button>
     
    </td>
    </ng-container>
    <ng-container matColumnDef="btn2">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog2(element)" mat-stroked-button><i class="	fa fa-tasks"></i> מתכון</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="btn3">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog3(element)" mat-stroked-button ><i
            class="	fa fa-bar-chart"></i> ביקוש</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <ng-container matColumnDef="btn2">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog2(element)" mat-stroked-button><i class="	fa fa-tasks"></i> מתכון</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="btn3">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button routerLink="DemandForGraphFood"><i class="	fa fa-bar-chart"></i> ביקוש</button>
      </td>
    </ng-container> -->
  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>