table {
    width: 100%;
    /* margin:auto; */
    direction: rtl;
  }
  td,th{
  text-align: right;;
  }
  .chip img {
    /* margin: 0 10px 0 -25px; */
    height: 60px;
    width: 60px;
    border-radius: 20%;
  }
