
<table mat-table [dataSource]="foodsList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="FoodName">
    <th mat-header-cell *matHeaderCellDef> FoodName </th>
    <td mat-cell *matCellDef="let element"> {{element.FoodName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="FoodPicture">
    <th mat-header-cell *matHeaderCellDef> FoodPicture </th>
    <td mat-cell *matCellDef="let element"> {{element.FoodPicture}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="AbleToFreeze">
    <th mat-header-cell *matHeaderCellDef> AbleToFreeze </th>
    <td mat-cell *matCellDef="let element"> {{element.AbleToFreeze}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="NumDaysToMakeBefore">
    <th mat-header-cell *matHeaderCellDef> NumDaysToMakeBefore </th>
    <td mat-cell *matCellDef="let element"> {{element.NumDaysToMakeBefore}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="list"></tr>
  <tr mat-row *matRowDef="let row; columns: list;" (click)="getRecord(row)"></tr>
</table>
<!-- <form>
  <h1>הוספת מאכל</h1>
  <input [(ngModel)]="newFood.FoodName" type="text" placeholder="שם מאכל" name="uname" required>
  <input [(ngModel)]="newFood.NumDaysToMakeBefore" type="text" placeholder="זמן הכנה מראש" name="uname" required>
  <input [(ngModel)]="newFood.AbleToFreeze" type="text" placeholder="ניתן להקפאה" name="uname" required>
  <button (click)="addFood()">שמור</button>
</form>

<button (click)="deleteFood()">מחיקת מאכל</button>

<h1>עדכון מאכל</h1>
<form>
  <button (click)="getFoodById()">מאכל ע"י קוד</button>
  <input [(ngModel)]="changeFood.FoodName" type="text" placeholder="שם מאכל" name="kk" required>
  <input [(ngModel)]="changeFood.NumDaysToMakeBefore" type="text" placeholder="זמן הכנה מראש" name="kk" required>
  <input [(ngModel)]="changeFood.AbleToFreeze" type="text" placeholder="ניתן להקפאה" name="kk" required>
  <button (click)="updateFood()">עדכון</button>
</form> -->
