<p>products works!</p>

<h4>הוספת מוצר</h4>
<br>
<form>
    <input [(ngModel)]="newProduct.ProductName" type="text" placeholder="הכנס שם מוצר"  name="ProductName" #ProductName="ngModel"
    required pattern="[A-Za-zא-ת ]*">
    <div class="form-group">
        <div class="alert-dangerr" *ngIf="ProductName.invalid && (ProductName.dirty || ProductName.touched)">
            <div class="alert-dangerr" *ngIf="ProductName.errors.required"> שדה חובה!</div>
            <div class="alert-dangerr" *ngIf="ProductName.errors.pattern">ערכים לא תקינים!</div>
        </div>
    </div>
<button (click)="onSave()">שמור</button>
</form>
<br>


<h4>חיפוש מוצר</h4>

<input [(ngModel)]="id" type="number" placeholder="הכנס קוד לחיפוש" required>
<button (click)="onSearch()">חפש</button>
<br>
<label name="result"><b>:תוצאה</b></label>
<label>{{productName}}</label>

<br>
<h4>עריכת מוצר</h4>
<input [(ngModel)]="updatedId" type="number" placeholder="שתרצו לערוך הכנס קוד המוצר " name="updatedId" #UpdatedId="ngModel"
required pattern="[0-9 ]*">
<div class="form-group">
    <div class="alert-dangerr" *ngIf="UpdatedId.invalid && (UpdatedId.dirty || UpdatedId.touched)">
        <div class="alert-dangerr" *ngIf="UpdatedId.errors.required"> שדה חובה!</div>
        <div class="alert-dangerr" *ngIf="UpdatedId.errors.pattern">ערכים לא תקינים!</div>
    </div>
</div>
<input [(ngModel)]="updatedName" type="text" placeholder="הכנס שם מעודכן למוצר" name="updatedName" #UpdatedName="ngModel"
required pattern="[A-Za-zא-ת ]*">
<div class="form-group">
    <div class="alert-dangerr" *ngIf="UpdatedName.invalid && (UpdatedName.dirty || UpdatedName.touched)">
        <div class="alert-dangerr" *ngIf="UpdatedName.errors.required"> שדה חובה!</div>
        <div class="alert-dangerr" *ngIf="UpdatedName.errors.pattern">ערכים לא תקינים!</div>
    </div>
</div>
<button (click)="onUpdate()">שמור שינויים</button>
