/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'; 
html, body { height: 100%;direction: rtl; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-dangerr{
    color:red;
}

.design-button{
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
}
.button{
    background-color: black;
    color: white;
}
