/* button {
  background-color:yellow;
} */

mat-stepper-horizontal {
  margin-top: 8rem;

}

mat-form-field {
  margin-top: 16px;
}
.headCard{
  /* background-color: #cc0000; */
  color: black;
  text-align: center;
}

 .preferCard{
  height: 300px;
  overflow-x:scroll;
  text-align: right;
 }
 input[type=checkbox] {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  outline: none !important;
  content: none;  
}

input[type=checkbox]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 13px;
  border-radius:4px;
  color: transparent !important;
  background: #fff;
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid #d3d6db;
  margin-right: 7px;
 
}

input[type=checkbox]:checked:before {
background: #cc0000;
color: rgba(255,255,255, 0.85) !important;
border: 2px solid #cc0000;
border-radius:4px;
}