<!-- <form>
  <mat-form-field appearance="outline">
    <mat-label>הכנס שם תפריט</mat-label>
    <input [(ngModel)]="menuName" matInput name="menuName" placeholder="שם תפריט">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>הכנס מחיר למנה</mat-label>
    <input [(ngModel)]="mealPrice" matInput maxlength="10" name="mealPrice" placeholder="מחיר למנה">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>הכנס כמות מנות מינימלית</mat-label>
    <input [(ngModel)]="minMealNum" matInput maxlength="10" name="minMealNum" placeholder="כמות מנות מינימלית">
  </mat-form-field>
  <br>
  <button mat-button (click)="addMenu()">המשך</button>
</form>



<mat-form-field appearance="outline">
  <mat-label>בחר מנה בתפריט</mat-label>
  <mat-select [(ngModel)]="selectedMeal">
    <mat-option *ngFor="let meal of listMeal" [value]="meal.MealId">
      {{meal.MealName}}
    </mat-option>
  </mat-select>
</mat-form-field>



<h3>Your Team is: {{selectedMeal}}</h3> -->
<div style="text-align: center;" dir="rtl">
  <mat-horizontal-stepper>
    <mat-step label="תפריט חדש">
      <div>
        <form>
          <mat-form-field appearance="outline">
            <mat-label> שם תפריט</mat-label>
            <input [(ngModel)]="menuName" matInput name="menuName" placeholder="שם תפריט"  name="menuName" #MenuName="ngModel"
            required pattern="[A-Za-zא-ת ]*">
          </mat-form-field>
          <div class="form-group">
            <div class="alert-dangerr" *ngIf="MenuName.invalid && (MenuName.dirty || MenuName.touched)">
                <div class="alert-dangerr" *ngIf="MenuName.errors.required"> שדה חובה!</div>
                <div class="alert-dangerr" *ngIf="MenuName.errors.pattern">ערכים לא תקינים!</div>
            </div>
        </div>
          <br>
          <mat-form-field appearance="outline">
            <mat-label> מחיר למנה</mat-label>
            <input [(ngModel)]="mealPrice" matInput maxlength="10" name="mealPrice" placeholder="מחיר למנה"  #MealPrice="ngModel"
            required pattern="[0-9 ]*">
          </mat-form-field>
          <div class="form-group">
            <div class="alert-dangerr" *ngIf="MealPrice.invalid && (MealPrice.dirty || MealPrice.touched)">
                <div class="alert-dangerr" *ngIf="MealPrice.errors.required"> שדה חובה!</div>
                <div class="alert-dangerr" *ngIf="MealPrice.errors.pattern">ערכים לא תקינים!</div>
            </div>
        </div>
          <br>
          <mat-form-field appearance="outline">
            <mat-label> כמות מנות מינימלית</mat-label>
            <input [(ngModel)]="minMealNum" matInput maxlength="10" name="minMealNum" placeholder="כמות מנות מינימלית" #MinMealNum="ngModel"
            required pattern="[0-9 ]*">
          </mat-form-field>
          <div class="form-group">
            <div class="alert-dangerr" *ngIf="MinMealNum.invalid && (MinMealNum.dirty || MinMealNum.touched)">
                <div class="alert-dangerr" *ngIf="MinMealNum.errors.required"> שדה חובה!</div>
                <div class="alert-dangerr" *ngIf="MinMealNum.errors.pattern">ערכים לא תקינים!</div>
            </div>
        </div>
          <br>
        </form>
        <button mat-button matStepperPrevious>חזרה</button>
        <button mat-button matStepperNext>הבא</button>
      </div>
    </mat-step>
    <mat-step label="הוספת מנות לתפריט">
      <p>תפריט {{menuName}}</p>
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-shrink-1 bd-highlight">


          <div *ngFor="let meal of meals let i=index">
            <mat-form-field appearance="outline">
              <mat-label>בחר מנה </mat-label>
              <mat-select [(ngModel)]="selectedMealID">
                <mat-option *ngFor="let meal of listMeal" [value]="meal.MealName">
                  {{meal.MealName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>בחר מאכלים למנה</mat-label>
              <mat-select [(ngModel)]="selectedFoodsTomeal" multiple>
                <mat-option *ngFor="let food of  foods" [value]="food">
                  {{food.FoodName}} {{food.FoodPicture}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
              (click)="addMealInMenu()">
              <mat-icon>plus_one</mat-icon>
            </button>
          </div>
        </div>
        <!-- <div class="p-2 w-100 bd-highlight">
          <div class="container">
            <div class="card preferCard" style="width:300px">
              <div class="headCard">
                <h2 class="card-title">שם מנה </h2>
                <h4>בחר מאכלים למנה</h4>
              </div>
              <div class="card-body">

                <mat-form-field appearance="outline">
                  <mat-label>שם מנה </mat-label>
                  <input [(ngModel)]="mealName" matInput name="mealName" placeholder="שם מנה">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>בחר מאכלים למנה</mat-label>
                <mat-select formControl="selectedFoodTomeal" multiple>
                  <mat-option *ngFor="let food of  foods" [value]="food">
                    {{food.FoodName}} {{food.FoodPicture}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="addMealInMenu()">
                  <mat-icon>plus_one</mat-icon>
                </button>
              </div>
                 <div class="sershe">
                 <button >
                   <i class="	fa fa-search"></i>
                  </button>
                   <input type="text" size="20" name="txt2srch" #search >
               </div> -->
        <!-- <div *ngFor="let food of  foods">
                  <input type="checkbox" name="typePort">
                  {{food.FoodName}} {{food.FoodPicture}}
                </div> -->
        <!-- <button mat-button style="background-color: green;" ></button> -->
        <!-- <button style="float: left;" type="button" (click)="saveFoodToMenue()" class="btn btn-success">שמור
                </button>
              </div>
            </div>
          </div>
        </div>  -->
      </div>
      <div style="float: left;">
        <button mat-button matStepperNext>הבא</button>
      </div>
    </mat-step>
    <mat-step label="סיום">
      פרטי התפריט החדש שלך
      <h2>שם התפריט</h2>
      <div class="d-flex justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <div class="container" *ngIf="!MenueNameSelect">
            <div class="card preferCard" style="width:300px">
              <div class="headCard">
                <h2 class="card-title">שם מנה </h2>
              </div>
              <div class="card-body">
                <div *ngFor="let food of  foods">
                  <input type="checkbox" name="typePort">
                  {{food}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <mat-form-field appearance="outline">
      <mat-label>בחר מאכלים למנה</mat-label>
      <mat-select  [(ngModel)]="selectedFoodList" multiple>
        <mat-option *ngFor="let food of setFoodByMealList()" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

      <div>
        <button mat-button matStepperPrevious>הקודם</button>
        <button mat-button (click)="finishnewMenue()" matStepperNext>סיום</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>











<!--הוספה-->
<!-- <form>
    <input [(ngModel)]="newMenu.MenuName" type="text" placeholder="הכנס שם תפריט" name="menuName" required>
    <input [(ngModel)]="newMenu.MealPrice" type="number" placeholder="הכנס מחיר למנה " name="mealPrice" required>
    <input [(ngModel)]="newMenu.MinMealNum" type="number" placeholder="הכנס כמות מנות מינמלית" name="minMealNum" required>

    <button (click)="onSave()">שמור</button>
</form>
<br> -->

<!--חיפוש תפריט לפי קוד-->
<!-- <input [(ngModel)]="id" type="number"  name="menuId" placeholder="הכנס קוד תפריט לחיפוש" required>
<button (click)="getMenuDetails(id)">חפש</button>
<br> -->


<!--עריכת תפריט-->
<!-- <b>עריכת תפריט</b>
<form>
    <input [(ngModel)]="iid" type="text" placeholder="הכנס קוד תפריט" name="menuId" required>
    <input [(ngModel)]="updatedMenu.MenuName" type="text" placeholder="הכנס שם תפריט" name="menuName" required>
    <input [(ngModel)]="updatedMenu.MealPrice" type="number" placeholder="הכנס מחיר למנה " name="mealPrice" required>
    <input [(ngModel)]="updatedMenu.MinMealNum" type="number" placeholder="הכנס כמות מנות מינמלית" name="minMealNum" required>

    <button (click)="updateMenu(iid)">שמור שינויים</button>
</form> -->



<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->

<!-- [ErrorStateMatcher]="matcher" -->
