.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
margin: auto;
    text-align: right;
    /* height: 300px; */
  }
  
  .title{
text-align: center;
color: #FFD700;
background-color: black;
width: 100%;
  }