<div style="text-align: center;margin:5%;" dir="rtl">
    <h3>תפריט חדש</h3>
    <mat-horizontal-stepper>
        <mat-step label="פרטים כלליים">
            <div class="chip" (click)="openFileDialog()">
                <img src="{{newMenu.img}}" alt="Person" width="150" height="150">

            </div>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>שם התפריט</mat-label>
                <input name="0" [(ngModel)]="newMenu.MenuName" matInput type="text">
                <mat-icon matSuffix>short_text</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>תאור קצר</mat-label>
                <input name="0" [(ngModel)]="newMenu.title" matInput type="text">
                <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>כמות מנות מינימלית להזמנה</mat-label>
                <input name="0" [(ngModel)]="newMenu.MinMealNum" matInput type="number">
                <mat-icon matSuffix>minimize</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>מחיר למנה</mat-label>
                <input name="0" [(ngModel)]="newMenu.MealPrice" matInput type="number">
                <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
            <br>
            <div>
                <!-- <button mat-button matStepperPrevious>Back</button> -->
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="בחירת מנות לתפריט">
            <div class="card">
                <h2 class="title">מנות </h2>
                <div *ngFor="let meal of mealsList">
                    <mat-checkbox [checked]="isChecked(meal.MealID)"  (change)="addMealToMenu(meal)" color="primary">{{meal.MealName}}</mat-checkbox>
                    
                    <br>
                </div>
                <button mat-button (click)="addVisible=!addVisible">הוסף מנה</button>
                <br>
                <mat-form-field *ngIf="addVisible" appearance="outline">
                    <mat-label>שם המנה</mat-label>
                    <input name="0" [(ngModel)]="newMeal.MealName" matInput type="text">
                    <mat-icon matSuffix (click)="addMeal()">add</mat-icon>
                </mat-form-field>
                
            </div>
        
            <div>
                <button mat-button matStepperPrevious>הקודם</button>
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="התאמת מאכלים לכל מנה" optional="false">
            <!-- <div *ngFor="let mealInMenu of newMenu.MealInMenu">
                <h2>{{mealsList[mealInMenu.MealID].MealName}}</h2>
                <mat-checkbox [checked]="isChecked2(food.FoodID,mealInMenu.MealID)" (change)="addFoodToMealMenu(mealInMenu.MealID,food)" *ngFor="let food of foodsList"
                 color="primary">&nbsp;{{food.FoodName}}&nbsp;</mat-checkbox>
                <button mat-button (click)="openDialog()">הוסף מאכל</button>

                <hr>
            </div> -->
            <div class="d-flex flex-wrap bd-highlight" style="margin: 5% ;">
                <div class="p-2 bd-highlight" *ngFor="let mealInMenu of newMenu.MealInMenu">
                    <div class="card">
                        <h2 class="title">{{mealsList[mealInMenu.MealID].MealName}}</h2>
                        <mat-checkbox [checked]="isChecked2(food.FoodID,mealInMenu.MealID)" (change)="addFoodToMealMenu(mealInMenu.MealID,food)" *ngFor="let food of foodsList"
                        color="primary">&nbsp;{{food.FoodName}}&nbsp;</mat-checkbox>
                       <button mat-button (click)="openDialog()">הוסף מאכל</button>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>הקודם</button>
                <button mat-button matStepperNext>הבא</button>
            </div>
        </mat-step>
        <mat-step label="שמירה" style="text-align: right;">

            <b>שם התפריט:</b> {{newMenu.MenuName}}
            <br>
            <b>תיאור:</b> {{newMenu.title}}
            <br>
            <b>מחיר למנה:</b> {{newMenu.MealPrice}} שח
            <br>
            <b>מספר מנות מינימלי:</b> {{newMenu.MinMealNum}}
            <br>
            <hr>

            <b>פירוט המנות:</b>
            <br>
                <div *ngFor="let mealInMenu of newMenu.MealInMenu"><ins>{{mealsList[mealInMenu.MealID].MealName}}:</ins>
                    <br>   
                    <label *ngFor="let food of mealInMenu.FoodInMealMenu; let i=index">
                           {{i+1}}. {{food?foodsList[food.FoodID].FoodName:''}} &nbsp;
                        </label>
                </div>
         
            <div>
                <button mat-button matStepperPrevious>חזור</button>
                <button mat-button routerLink="/manage" (click)="saveMenu()">שמור</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<!-- <div style="margin:5%;">
    <h3>הוספת/ עריכת תפריט</h3>
    <mat-form-field appearance="outline">
        <mat-label>שם התפריט</mat-label>
        <input name="0" [(ngModel)]="newMenu.MenuName" matInput type="text">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>תאור קצר</mat-label>
        <input name="0" [(ngModel)]="newMenu.title" matInput type="text">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>כמות מנות מינימלית להזמנה</mat-label>
        <input name="0" [(ngModel)]="newMenu.MinMealNum" matInput type="number">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>מחיר למנה</mat-label>
        <input name="0" [(ngModel)]="newMenu.MealPrice" matInput type="number">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <br>
    <div *ngFor="let meal of mealsList">
        <mat-checkbox  color="primary" [(ngModel)]="meal.isChecked">{{meal.MealName}}</mat-checkbox>
        <br>
    </div>
    
</div> -->