
<div class="d-flex flex-wrap bd-highlight" style="margin: 5% ;">
    <div class="p-2 bd-highlight" *ngFor="let menu of menueList">
        <div class="card">
            <img src="{{menu.img}}" alt="John" style="width:100%; height: 200px;">
            <p class="title">{{menu.MenuName}}</p>
            <p>{{menu.title}}</p>
            <p>מינימום מנות להזמנה- {{menu.MinMealNum}}</p>
            <p>מחיר למנה- {{menu.MealPrice}} ש"ח</p>
            <!-- <div class="d-flex bd-highlight">
                <div class="p-2 w-100 bd-highlight">
                    <div class="d-flex justify-content-center bd-highlight mb-3">
                        <div *ngFor='let in of counter(3)'>
                            <div class="p-2 bd-highlight">
                                <i class="	fa fa-star" style="color: #FFD700;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-shrink-1 bd-highlight">
                    <mat-icon matBadgeColor="accent" matBadge="{{menu.favoraits}}" style="color: red;"
                        matBadgeColor="warn">
                        favorite_border</mat-icon>

                </div>
            </div>
            <div class="d-flex bd-highlight" *ngIf="DB.user.Mail">
                <button routerLink="/MenuC/MakeAnOrder">הזמן</button>

            </div> -->
        </div>
    </div>
</div>

<!-- <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
        <button type="button" class="btn btn-light" (click)="like=!like">
            <i *ngIf="!like" class="fa fa-heart"></i>
            <i *ngIf="like" class="fa fa-heart" style="color: red;"></i></button>
    </div>
    <div class="p-2 w-100 bd-highlight">
        <div class="d-flex justify-content-center bd-highlight mb-3">
            <div *ngFor='let in of counter(3)'>
                <div class="p-2 bd-highlight">
                    <i class="	fa fa-star" style="color: #FFD700;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
        <mat-icon matBadgeColor="accent" matBadge="2" style="color: red;" matBadgeColor="warn">
            favorite_border</mat-icon>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
        <button type="button"  class="btn btn-light">הדפס <i class="fa fa-print"></i></button>
    </div>
</div>
<hr> -->
