<table style="margin-top: 5%;">
    <tr>
        <!-- <th>סוג הארוע</th> -->
        <th>שם מזמין </th>
        <th>טלפון </th>
        <th>תאריך</th>
        <th>מקום הארוע </th>
        <th>מספר מנות</th>
        <th>שולם מקדמה </th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let order of awaitingOrders">
        <!-- <td>{{order.EventTypeID}} </td> -->
        <td>{{order.FirstName}} {{order.LastName}}</td>
        <td>{{order.Phone}}</td>
        <td>{{order.OrderDate|date}}</td>
        <td>{{order.EventAddress}}</td>
        <td>{{order.MealsAmount}}</td>
        <td>
            <i *ngIf="order.PaiedBefore" class="fa fa-check"></i>
            <i *ngIf="!order.PaiedBefore" class="fa fa-times"></i>
        </td>
        <td><button (click)="openDialog(order.OrderID)">הצג יותר פרטים</button></td>
        <td><button (click)="ok(order.OrderID)">אשר הזמנה</button></td>
    </tr>
    
</table>
