<!-- <p>login-manager works!</p> -->
<!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>
<button onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Update</button> -->


<!--התחברות-->
<div id="id01" class="modal">
  <form class="modal-content animate" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <!--<img src="img_avatar2.png" alt="Avatar" class="avatar">-->
    </div>

   <div class="container">
   <label for="uname"><b>Username</b></label>
      <input [(ngModel)]="manager.FirstName" type="text" placeholder="Enter firstname" name="uname" required>
      <input [(ngModel)]="manager.LastName" type="text" placeholder="Enter lastname" name="uname" required>
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="manager.ManagerPassword" type="password" placeholder="Enter Password" name="psw" required>

      <button  type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<!--הרשמה-->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" (ngSubmit)="onSave()" >

    <div class="container">
      <label for="uname"><b>firstname</b></label>
      <input [(ngModel)]="manager.FirstName" type="text" placeholder="Enter firstname" name="uname" required>
      <label for="lname"><b>lastname</b></label>
      <input [(ngModel)]="manager.LastName" type="text" placeholder="Enter lastname" name="lname" required>
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="manager.ManagerPassword" type="password" placeholder="Enter Password" name="psw" required>
      <label for="mail"><b>Email</b></label>
      <input [(ngModel)]="manager.ManagerEmail" type="text" placeholder="Enter email" name="mail" required>

      <button  type="submit">Sign Up</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>

</div>

<!--עידכון-->
<div id="id03" class="modal">
  <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" (ngSubmit)="onSave()" >

    <div class="container">
      <label for="uname"><b>firstname</b></label>
      <input [(ngModel)]="manager.FirstName" type="text" placeholder="Enter firstname" name="uname" required>
      <label for="lname"><b>lastname</b></label>
      <input [(ngModel)]="manager.LastName" type="text" placeholder="Enter lastname" name="lname" required>
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="manager.ManagerPassword" type="password" placeholder="Enter Password" name="psw" required>
      <label for="mail"><b>Email</b></label>
      <input [(ngModel)]="manager.ManagerEmail" type="text" placeholder="Enter email" name="mail" required>
      <button  type="submit">Save</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>


    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>

</div>
