<div style="text-align: center; margin-top: 30px; width: 95%;">
    <div class="row">
        <div class="col-sm-4" routerLink="calendar" (click)="flag=false">
            <span class="logo-small	fa fa-calendar"></span>
            <h4>יומן הזמנות</h4>
        </div>
        <div class="col-sm-4" routerLink="addOrder" (click)="flag=false">
            <mat-icon class="logo-small">plus_one</mat-icon>
            <!-- <span class="	fa fa-commenting-o logo-small"></span> -->
            <h4>הוספת הזמנה </h4>           
        </div>
        <div class="col-sm-4" routerLink="awaitingOrders" (click)="flag=false">
            <span class="	fa fa-check logo-small"></span>
            <h4>הזמנות הממתינות לאישור </h4>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<!-- <table *ngIf="flag">
    <tr>
        <th>סוג הארוע</th>
        <th>שם מזמין </th>
        <th>תאריך</th>
        <th>מקום הארוע </th>
        <th>כתובת </th>
        <th>שולם?</th>
        <th></th>
    </tr>
    <tr>
        <td>חתונה</td>
        <td>יוסף עמרם</td>
        <td>23.3.2021</td>
        <td>אולמי וגשל</td>
        <td>בני ברק</td>
        <td><i class="	fa fa-check" style="color: green;"></i></td>
        <td> <button routerLink="MoreDetailsOrder" style="color: black;" mat-raised-button color="primary">פרטים נוספים</button> </td>
    </tr>
    <tr>
        <td>חתונה</td>
        <td>יוסף עמרם</td>
        <td>23.3.2021</td>
        <td>אולמי וגשל</td>
        <td>בני ברק</td>
        <td><i class="		fa fa-close" style="color: red;"></i></td>
        <td> <button routerLink="MoreDetailsOrder" style="color: black;" mat-raised-button color="primary">פרטים נוספים</button> </td>
    </tr>
</table> -->
